<!--

<h2>Coupons - View</h2>
<h2 *ngIf="coupons"> {{ coupons.length }} Users</h2>

<div *ngIf="coupons">
  <table>
    <tr>
      <th>Name</th>
      <th>CompanyId</th>
      <th>Start_Date</th>
      <th>End_Date</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Message</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
    <tr *ngFor="let coupon of coupons">
      <td>{{coupon.Name}}</td>
      <td>{{coupon.CompanyId}}</td>
      <td>{{coupon.Start_Date}}</td>
      <td>{{coupon.End_Date}}</td>
      <td>{{coupon.Amount}}</td>
      <td>{{coupon.Type}}</td>
      <td>{{coupon.Message}}</td>
      <td>{{coupon.Price}}</td>
      <td>{{coupon.Image}}</td>
    </tr>
  </table>
</div>

-->
