<H2>Update company</H2>
<div *ngIf ="!company">
  <app-loading></app-loading>
</div>
<form #companyForm="ngForm" (ngSubmit)="sendForm()" *ngIf="company">
  <table>
    <tr>
      <td>company Name</td>
      <td>
        <!-- <input type="text" [(ngModel)]="companyName">-->
        <input required #companyName="ngModel" [(ngModel)]="company.Name" name="companyName" placeholder="Company Name">
        <span *ngIf="companyName.invalid && companyName.dirty">Missing Company Name"</span>
      </td>
    </tr>
    <tr>
      <td>Company Email</td>
      <td>
        <!--  <input type="email" [(ngModel)]="companyEmail">-->
        <input required #companyEmail="ngModel" [(ngModel)]="company.Email" name="companyEmail" placeholder="Company Email">
        <span *ngIf="companyEmail.invalid && companyEmail.dirty">Missing Company Email"</span>
      </td>
    </tr>
  </table>
  <button [disabled]="companyForm.form.invalid">Send</button>
</form>
