section{
  height: 100%;
  border: 2px solid navy;
  background-color: peru;
  text-align: center;
  box-sizing: border-box; /*height and width - fills to the border*/
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 13% 80% 7%;
}

section >* { /*will effect all tags(level 1 inside) within the section equal to "headr,aside,main,fotte{}"*/
  border: 2px solid black;
}

header,footer{
  grid-column: span 12;
}

aside{
  grid-column: span 2;
}

main{
  grid-column: span 10;
}
